USE [master]
GO
/****** Object:  Database [BookStore]    Script Date: 18/10/2025 09:11:35 ******/
CREATE DATABASE [BookStore] ON  PRIMARY 
( NAME = N'BookStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.CSSQL08\MSSQL\DATA\BookStore.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BookStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.CSSQL08\MSSQL\DATA\BookStore_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStore]
GO
/****** Object:  Table [dbo].[Theloaitin]    Script Date: 18/10/2025 09:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theloaitin](
	[IDLoai] [int] NOT NULL,
	[Tentheloai] [nvarchar](100) NULL,
 CONSTRAINT [PK_Theloaitin] PRIMARY KEY CLUSTERED 
(
	[IDLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tintuc]    Script Date: 18/10/2025 09:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tintuc](
	[IdTin] [int] NOT NULL,
	[IDLoai] [int] NULL,
	[Tieudetin] [nvarchar](100) NULL,
	[Noidungtin] [ntext] NULL,
 CONSTRAINT [PK_Tintuc] PRIMARY KEY CLUSTERED 
(
	[IdTin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Theloaitin] ([IDLoai], [Tentheloai]) VALUES (1, N'Moi truong')
INSERT [dbo].[Theloaitin] ([IDLoai], [Tentheloai]) VALUES (2, N'Khoa hoc')
INSERT [dbo].[Theloaitin] ([IDLoai], [Tentheloai]) VALUES (3, N'Cong nghe')
GO
ALTER TABLE [dbo].[Tintuc]  WITH CHECK ADD  CONSTRAINT [FK_Tintuc_Theloaitin] FOREIGN KEY([IDLoai])
REFERENCES [dbo].[Theloaitin] ([IDLoai])
GO
ALTER TABLE [dbo].[Tintuc] CHECK CONSTRAINT [FK_Tintuc_Theloaitin]
GO
USE [master]
GO
